<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Vue.js projet app Iphone13</title>

  <!--******* LIEN VUE JS POUR INTERPRETER -->
  <script src="https://unpkg.com/vue@3.2.26"></script>
  <!--************************************ -->

  <link rel="stylesheet" href="./assets/css/style.css">

</head>
<body>

    <div id="app">
      <div class="nav-bar">
      </div>
      <div class="cart">Panier : {{cart}}</div>
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">

            <img :src="image" :alt="product">

          </div>
          <div class="product_info">
            <h1>{{ produit }}</h1>
            <h2>{{ slogan }}</h2>
            <h2 v-if="(Iphone13quantity>5)"><span class="green">En stock</span></h2>
            <h2 v-else-if="(Iphone13quantity>=3) && (Iphone13quantity<=5)"><span class="orange">Presque plus de stock</span></h2>
            <h2 v-else><span class="red">Rupture de stock</span></h2>
            <ul>
              <li v-for="caract in caracteristique">
                {{caract}}
              </li>
            </ul>
            <hr>

            <h4>Quelle couleur souhaitez-vous ?</h4>
            <ul class="product_images" >
              <li  v-for="variant in variants" :key="variant.id" @mouseover="updateImage(variant.image, variant.pos)" class="color-circle" :style="{backgroundColor: variant.color}" >

              <!--<div v-for="(variant, ind) in variants" :key="variant.id" @mouseover="activeVariant = ind"
                  class="color-circle" :style="{backgroundColor: variant.color}"></div>
                <button @click="cart++" class="button" :disabled="!inStock" :class="{disabledButton: !inStock}">Add to cart</button>
              </div>-->
            </ul>
            <button v-on:click="addCart()" class="button">commander</button>
          </div>
          <div >
            <h3>{{ description_produit }}</h3>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/main.js"></script>
</body>
</html>